@tailwind base;
@tailwind components;
@tailwind utilities;
/* food menu (FM) */
.FM-item {
	transition: all linear 0.25s;
}
.FM-item.active {
	max-height: 30rem;
	margin: 1rem 0;
	z-index: 80;
}
.FM-image {
	transition: width ease-in-out 0.25s;
}
.FM-item.active .FM-image {
	width: 100%;
}
.FM-header {
	transition-property: transform, opacity;
	transform-origin: right;
	opacity: 1;
	transition-duration: 0.1s;
	transition-delay: 0.15s;
	transition-timing-function: linear;
}
.FM-item.active .FM-header {
	opacity: 0;
	transform: scale(0);
	transition-delay: 0s;
}
.FM-item-header-second {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transform: scale(0);
	transition-property: max-height, opacity, transform;
	transition-duration: 0.25s;
	transform-origin: left;
	transition-timing-function: linear;
}
.FM-item.active .FM-header-second {
	max-height: 5rem;
	opacity: 1;
	transform: scale(1);
}
.FM-description {
	transform: translateY(30px) scaley(0);
	max-height: 0;
	opacity: 0;
	transition-property: transform, max-height, opacity;
	transition-duration: 0.1s;
	transition-delay: 0.15s;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	overflow: hidden;
}
.FM-item.active .FM-description {
	transform: translateX(0) scaley(1);
	max-height: 5rem;
	transition-delay: 0s;
	opacity: 1;
}
#FM-overlay {
	width: 100vw;
	height: 100vh;
	background: #000;
	opacity: 0;
	transition: all 0.25s ease-in-out 0s;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	visibility: hidden;
	text-align: right;
}
#FM-overlay span {
	color: #fff;
	display: block;
	margin: 0.5rem 1rem 0 0;
	font-size: 1.2rem;
}
#FM-overlay.active {
	transition: all 0.25s ease-in-out 0.25s;
	opacity: 0.95;
	visibility: visible;
}

#FM-categories {
	scrollbar-width: none;
}
#FM-categories::-webkit-scrollbar {
	display: none;
}
#FM-filter-input {
	border-radius: 6px;
	background: #f8fafc;
	box-shadow: inset 6px 6px 8px #dfe1e3, inset -6px -6px 8px #ffffff;
}

#FM-filter-input.FM-filter-input-md {
	border-radius: 6px;
	background: #e2e8f0;
	box-shadow: inset 6px 6px 8px #cbd1d8, inset -6px -6px 8px #f9ffff;
}
